<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/notice.css">
    <title>通知公告</title>
</head>

</head>
<body>
<div class="left-bg"></div>
<div class="right-bg"></div>
<div id="topindex">
    <table width="100%">
        <tr style="height:17px">
            <td>
            <td>
        </tr>
        <tr>
            <td style="padding-left:20px; width:50%"><span style=" float:left;color: #FFF; font-family:'Times New Roman', Times, serif">欢迎来到空调租赁缴费平台</span><td>
            <td style="padding-right:30px"><span style=" float:right; font-family:'Times New Roman', Times, serif">
            	<a style="color:#FFF;padding-right:20px" href="/">首页</a>
                <a style="color:#FFF" href="/contact">联系我们</a>
                </span></td>
        </tr>
    </table>
</div>
<div class="left-bg"></div>
<div class="right-bg"></div>
<div id="title"><img src="/images/log_before/logo.png"></div>

<div class="notice-center">
    <div class="notice-center-top"></div>
    <div class="notice-center-left"></div>
    <div class="notice-center-bottom"></div>
    <div class="notice-title">
        <i class="notice-icon"></i>
        <span>通知公告</span>
    </div>
    <div class="notice-name">2016年国家公务员考试南京地区职位分析</div>
    <div class="notice-time">发布日期：2016-02-24</div>
    <div class="notice-wrap">
        <div class="notice-content">
            <p>为满足中央机关及其直属机构录用公务员的需要，根据公务员法和公务员录用的有关规定，中共中央组织部、人力资源和社会保障部、国家公务员局将组织实施2015年度中央机关及其直属机构考试录用主任科员以下及其他相当职务层次非领导职务公务员工作。现将有关事项公告如下</p>
            <p>为满足中央机足中央机关及其直属机构录用公务员的需要，根据公务员法和公务员录用的有关规定，中共中央组织部、人力资源和社会保障部、国家公务员局将组织实施2015年度中央机关及其直属机构考试录用主任科员以下及其他相当职务层次非领导职务公务员工作。现将有关事项公告如关及其直属机构录用公务员的需要，根据公务员法和公务员录用的有关规定，中共中央组织部、人力资源和社会保障部、国家公务员局将组织实施2015年度中央机关及其直属机构考试录用主任科员以下及其他相当职务层次非领导职务公务员工作。现将有关事项公告如下</p>
            <p>为满足中央机关及其直属机构录用公务员的需要，根据公务员法和公务员录用的有关规定，中共中央组织部、人力资源和社会保障部、国家公务员局将组织实施2015年度中央机关及其直属机构考试录用主任科员以下及其他相当职务层次非领导职务公务员工作。现将有关事项公告如下</p>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
