<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>空调租赁用户界面</title>
    <link href="base.css" rel="stylesheet">
    <link href="platform.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div id="pf-hd">
        <div class="pf-logo">
            <img src="imgs/main/logo.png" alt="logo">
            <h1 class="system-name">空调租赁用户界面</h1>
        </div>

        <ul class="pf-nav">
            <li class="pf-nav-item current">
                <a href="/user">
                    <span class="pf-nav-icon project-icon"></span>
                    <span class="pf-nav-title">租赁缴费</span>
                </a>
            </li>
            <li class="pf-nav-item">
                <a href="/history">
                    <span class="pf-nav-icon static-icon"></span>
                    <span class="pf-nav-title">查询历史</span>
                </a>
            </li>
            <li class="pf-nav-item">
                <a href="/userinfo">
                    <span class="pf-nav-icon manger-icon"></span>
                    <span class="pf-nav-title">用户信息</span>
                </a>
            </li>
        </ul>


        <div class="pf-user">
            <div class="pf-user-photo">
                <img src="imgs/main/user.png" alt="">
            </div>
            <h4 class="pf-user-name ellipsis">&nbsp;&nbsp;User</h4>
            <i class="iconfont xiala">&#xe618;</i>

            <div class="pf-user-panel">
                <ul class="pf-user-opt">
                    <li>
                        <a href="/userinfo">
                            <i class="iconfont">&#xe606;</i>
                            <span class="pf-opt-name">用户信息</span>
                        </a>
                    </li>
                    <li class="pf-modify-pwd">
                        <a  href="/passchange">
                            <i class="iconfont">&#xe613;</i>
                            <span class="pf-opt-name">修改密码</span>
                        </a>
                    </li>
                    <li class="pf-logout">
                        <a href="/">
                            <i class="iconfont">&#xe60e;</i>
                            <span class="pf-opt-name">退出</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="pf-bd">
            <div id="pf-sider">
                <h2 class="pf-model-name">
                    <span class="pf-sider-icon"></span>
                    <span class="pf-name">项目</span>
                </h2>

                <ul class="sider-nav">
                    <li class="current">
                        <a href="/user">
                            <img src="imgs/main/l03.png">
                            <span class="sider-nav-title">租赁缴费</span>
                            <i class="iconfont">&#xe611;</i>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="pf-page">
                <div class="container">
                    <div id="inner-hd">
                        <div class="crumbs">
                            <i class="crumbs-arrow"></i>
                            <a class="crumbs-label">租赁缴费</a>
                        </div>
                    </div>

                    <div id="inner-bd">
                        <form id="subform" action="/user" method="post">
                            <div class="button-group">
                                <button class="button current add" onclick="return subcheck()">
                                    <i class="iconfont">&#xe76a;</i>
                                    <span class="button-label">提交</span>
                                </button>
                            </div>

                            <table class="kv-table">
                                <tbody>
                                <tr>
                                    <td class="kv-label">
                                        用户名：
                                    </td>
                                    <td class="kv-content" style="padding: 10px;">
                                        <%= username %>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="kv-label">
                                        宿舍号：
                                    </td>
                                    <td id="rochange" class="kv-content" style="padding: 10px;">
                                        <%= room %>
                                        <a href="userchange">
                                            <button type="button" class="button current add" style="vertical-align: middle; margin-left:20px; ;">
                                                <i class="iconfont">&#xe76a;</i>
                                                <span class="button-label">修改</span>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="kv-label">
                                        租赁时间：
                                    </td>
                                    <td class="kv-content" style="padding: 10px;">
                                        <input type="text" name="hour" style="width:50px;" value="0">小时
                                        <input type="text" name="minute" style="width:50px;" value="0">分钟
                                        <span id="span2" style="margin-left:10px;"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="kv-label">
                                        支付方式：
                                    </td>
                                    <td class="kv-content" style="padding: 10px;">
                                        <input type="radio" name="pay_way" value="支付宝" checked>支付宝
                                        <img src="/imgs/alipaypic.png" style="vertical-align:middle;padding:10px;">
                                        <input type="radio" name="pay_way" value="微信支付">微信支付
                                        <img src="/imgs/wechatpic.png" style="vertical-align:middle;padding:10px;">
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </form>
                    </div>

                    <div id="inner-ft">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function subcheck(){
        var h = document.forms["subform"]["hour"].value;
        var m = document.forms["subform"]["minute"].value;
        var numtest = /^[0-9]{1,}$/;
        if(h==''||m==''){
            $("#span2").html('<font color=red>小时与分钟不能为空!</font>');
            return false;
        }else if(!numtest.test(h)||!numtest.test(m)){
            $("#span2").html('<font color=red>时间必须填正整数!</font>');
            return false;
        }else if(h=='0'&&m=='0'){
            $("#span2").html('<font color=red>时间不为零!</font>');
            return false;
        }else if(int.parse(m)>59){
            $("#span2").html('<font color=red>分钟不能超过59!</font>');
            return false;
        }
        else
            $("#span2").html('');
    }
</script>
<script>
    function f(){
        alert('该宿舍不存在！');
    }
    function s(){
        alert('缴费成功！');
    }
    function c(){
        alert('修改成功！');
    }
    <%= f %>
</script>
<script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
