@charset "utf-8";
body{
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	border:0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background:url(../images/log_before/login_bg.png) top;
	font-family:"微软雅黑";
}

#topindex{
	height:50px;
	width:100%;
	font-size:14px;
	background-color:#666;
	opacity:0.8;
	text-align:center;
}

#title{
	margin-top:15px;
	font-size:44px;
	height:100px;
	width:100%;
	color:#fff;
	text-align:center;
}


#end{
width:100%; height:35px; line-height:35px; top:800px; position: absolute; left:0px; font-size:14px; color:#000; text-align:center;
}

body .left-bg{position:absolute;left:0;top:50%;width:659px;height:567px;margin-top:-284px;background:url(../images/log_before/login_left.png) no-repeat;opacity:0.6}
body .right-bg{position:absolute;right:0;top:50%;width:661px;height:567px;margin-top:-284px;background:url(../images/log_before/login_right.png) no-repeat;opacity:0.6}
body .login-center{position:absolute;left:50%;top:400px;margin-left:-510px;margin-top:-470px;width:1200px;height:900px;background:url(../images/log_before/login_box.png) no-repeat}

body .login-center .login-content{position:absolute;left:80px;top:300px;width:704px;height:308px}
body .login-center .login-content .notice{float:left;width:354px;height:300px}
body .login-center .login-content .notice .notice-title{margin-top:25px;height:30px;line-height:30px}
body .login-center .login-content .notice .notice-title .notice-icon{float:left;margin-top:6px;margin-left:30px;margin-right:6px;display:inline-block;width:20px;height:20px;background:url(../images/log_before/login_lb.png) no-repeat}
body .login-center .login-content .notice .notice-title span{float:left;font-size:24px;color:#fd9604}
body .login-center .login-content .notice .notice-list{margin-top:20px;padding:0 40px}
body .login-center .login-content .notice .notice-list .list-item{height:28px;line-height:28px;font-size:18px;color:#1f1f1f;cursor:pointer;margin-bottom:8px;}
body .login-center .login-content .notice .notice-list .list-item a{color:#1f1f1f;text-decoration:none}
body .login-center .login-content .notice .notice-list .list-item a:hover{color:#309270;text-decoration:underline}
body .login-center .login-content .notice .notice-list .list-item .rt-icon{float:left;width:4px;height:7px;margin-top:10px;margin-right:6px;background:url(../images/log_before/login_list.png) no-repeat}

body .login-center .login-content .login-input{float:left;width:350px;height:300px}
body .login-center .login-content .login-input .login-label{margin-top:23px;font-size:26px;color:#fff;height:30px;line-height:30px;margin-left:120px}
body .login-center .login-content .login-input .username{margin-left:120px;width:290px;height:60px;background-color:#fff;margin-top:20px;margin-bottom:20px}
body .login-center .login-content .login-input .username .username-icon{float:left;width:20px;height:20px;margin-top:20px;margin-left:18px;margin-right:18px;background:url(../images/log_before/login_user.png) no-repeat}
body .login-center .login-content .login-input .username input[type=text]{float:left;border:0 transparent;height:30px;margin-top:16px;width:190px;font-size:18px;outline:none}
body .login-center .login-content .login-input .username input[type=text]:focus{border:0 transparent}
body .login-center .login-content .login-input .username input[type=text].focus{border:0 transparent}
body .login-center .login-content .login-input .password{margin-left:120px;width:290px;height:60px;background-color:#fff;margin-top:20px}
body .login-center .login-content .login-input .password .password-icon{float:left;width:20px;height:20px;margin-top:20px;margin-left:18px;margin-right:18px;background:url(../images/log_before/login_lock.png) no-repeat}
body .login-center .login-content .login-input .password input[type=password]{float:left;border:0 transparent;height:30px;margin-top:16px;width:220px;font-size:18px;outline:none}
body .login-center .login-content .login-input .password input[type=password]:focus{border:0 transparent}
body .login-center .login-content .login-input .password input[type=password].focus{border:0 transparent}
body .login-center .login-content .login-input .login-btn{margin-top:20px;margin-left:120px;width:290px;height:60px;line-height:48px;color:#fff;font-size:22px;background:#999;text-align:center;}
body .login-center .login-content .login-input .login-btn:hover{background:url(../images/log_before/regbg.jpg)}

body .login-center .login-content .login-input .reg-remain{margin-top:0px;margin-left:135px;width:264px;height:45px;line-height:48px;color:#fff;font-size:20px;text-align:center;}

ul li{list-style:none;}